name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule: [cron: "40 1 * * *"]

permissions:
  contents: read

env:
  RUSTFLAGS: -Dwarnings

jobs:
  pre_ci:
    uses: dtolnay/.github/.github/workflows/pre_ci.yml@master

  build:
    name: Rust ${{matrix.rust}}
    needs: pre_ci
    if: needs.pre_ci.outputs.continue
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust: [nightly, beta, stable, 1.65.0]
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{matrix.rust}}
      - name: Enable type layout randomization
        run: echo RUSTFLAGS=${RUSTFLAGS}\ -Zrandomize-layout >> $GITHUB_ENV
        if: matrix.rust == 'nightly' && false # FIXME https://github.com/rust-lang/rust/issues/113941
      - run: cargo check --workspace
      - run: cargo check --examples
        env:
          RUSTFLAGS: -Adeprecated ${{env.RUSTFLAGS}} # https://github.com/chronotope/chrono/issues/820#issuecomment-1312651118
      - run: cargo check --features serde/derive
      - run: cargo test --lib
      - run: cargo test --doc

  minimal:
    name: Minimal versions
    needs: pre_ci
    if: needs.pre_ci.outputs.continue
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@nightly
      - run: cargo generate-lockfile -Z minimal-versions
      - run: cargo check --locked

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@clippy
      - run: cargo clippy --tests --workspace -- -Dclippy::all -Dclippy::pedantic
      - run: cargo clippy --examples -- -Dclippy::all -Dclippy::pedantic -Aclippy::cast_lossless -Aclippy::cast_precision_loss -Aclippy::doc_markdown -Aclippy::from_iter_instead_of_collect -Aclippy::uninlined_format_args
        env:
          RUSTFLAGS: -Adeprecated ${{env.RUSTFLAGS}} # https://github.com/chronotope/chrono/issues/820#issuecomment-1312651118

  outdated:
    name: Outdated
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/install@cargo-outdated
      - run: cargo outdated --workspace --exit-code 1
